SampleApp/bin/
SampleApp/obj/
DragDrop/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DragDrop/obj/
DragDrop/bin/
.vs/DragDrop/v14/.suo
DragDrop.v12.suo
packages/
.vs/
DragDrop/DragDrop.csproj.user
